.container {
    max-width: 1366px;
    display: flex;
    gap: 20px;
    margin: 150px auto;
    width: 100%;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%
}

.container h3 {
    color: #2e2e2e
}

.container p {
    color: gray
}

.form {
    max-width: 600px;
    width: 70%;
}


@media (max-width: 921px) {
    .container {
        flex-direction: column;
        width: 65%;
        margin: 50px auto;
    }
}